<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam recusandae explicabo, libero maiores vel nesciunt.</p>
  <a href="/posts/add" class="btn btn-dark btn-lg">Add Posts</a>
</div>